POSTGRES_DB=<your-database-name>
POSTGRES_USER=<your-database-user>
POSTGRES_PASSWORD=<your-database-password>
POSTGRES_HOST=<your-database-host>
DB_NAME=<your-database-name>
DB_USER=<your-database-user>
DB_PASSWORD=<your-database-password>
DB_HOST=<your-database-host>
DB_PORT=<your-database-port>
SUPER_USER_BACKEND=<your-superuser-backend-username>
SUPER_USER_BACKEND_PASSWORD=<your-superuser-backend-password>
MINIO_ROOT_USER=<your-minio-root-username>
MINIO_ROOT_PASSWORD=<your-minio-root-password>
S3_ENDPOINT_URL=<your-s3-endpoint-url>
S3_ACCESS_KEY=<your-s3-access-key>
S3_SECRET_KEY=<your-s3-secret-key>
S3_BUCKET_NAME=<your-s3-bucket-name>
QDRANT_URL=<your-qdrant-url>
QDRANT_API_KEY=<your-qdrant-api-key>
COLLECTION_NAME=<your-qdrant-collection-name>

PREFECT_API_URL=http://prefect:4200/api
PREFECT_API_DATABASE_CONNECTION_URL=postgresql+asyncpg://dbadmin:qwer1234@postgres:5432/knowledgedb
DJANGO_API_URL=http://backend:8001/api

# VLM_API_BASE=https://api.openai.com/v1
# LLM_MODEL=openai/gpt-oss:20b
VLM_API_BASE=<your-vlm-api-base-url>
VLM_API_KEY=<your-vlm-api-key>
VLM_MODEL=typhoon-ocr1.5-3b

VERIFY_SSL=<True-or-False>